{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">

    <title>Instello</title>
    <meta name="description" content="Instello - Sharing Photos platform HTML Template">
   
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">  
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
 
</head>
<body class="bg-white dark:bg-slate-900">

    {% block content %}
    {% endblock %}

    <script src="{% static 'assets/js/uikit.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>